<div align="center">
  <h1>Upload a Picture of Your Masterpiece</h1>
  <div>
    <label for="formFileLg" class="form-label"></label>
    <input class="form-control form-control-lg" id="formFileLg" type="file" />
    <label for="projectType" class="form-label">Project</label>
    <select class="selectpicker" data-style="btn-primary" id="project">
      <option value="">Choose...</option>
      <option value="Jan2021">January 2021</option>
      <option value="Feb2021">February 2021</option>
      <option value="March2021">March 2021</option>
    </select>
    <button type="button" class="btn-primary btn-lg">Upload</button>
  </div>
</div>

<div class="container" align="center">
  <h4>See some examples of previous Tries.</h4>
</div>
<div class="album py-5" style="background-color: #FFDBCC;">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

