<div class="painting" style="padding: 5px; float: right;">
  <a>
    <img src="assets/img/painting-image.jpg" />
  </a>
</div>
<div class="description"
     style="max-width: 500px; padding: 12px; margin: 0 auto; display: flex; flex-direction: column; float: left; text-align: center;">
  <h1>This month's box is...</h1>
  <h5>PAINTING!</h5>
  <p>
    It's time to grab some brushes (and wine!) and wow your friends.
    Little did they know that you were a prodigy in-the-making.
    This month, we are painting a fresh, summery canvas to inspire
    your warmth and creativity.
  </p>
  <button [routerLink]="['/purchase']"
          style="height: 60px; border: none; position: relative; font-size: 18px; font-weight: 700; letter-spacing: 1px; background-color: #55CBCD; color: #ECEAE4;">
    <span style="display: inline;">Buy The Box</span>
  </button>
</div>
