<section>
  <div class="info" style="padding: 5px; float: left;">
    <a>
      <img src="assets/img/home-image-resized.jpg" />
    </a>
  </div>
  <div class="description"
       style="max-width: 500px; padding: 12px; margin: 0 auto; display: flex; flex-direction: column; float: right; text-align: center;">
    <h1>Get the Box.</h1>
    <h5>Make Your Next Favorite Thing.</h5>
    <button [routerLink]="['/marketplace']"
            style=" height: 60px; border: none; position: relative; font-size: 18px; font-weight: 700; letter-spacing: 1px; background-color: #55CBCD; color: #ECEAE4;">
      <span style="display: inline;">GET STARTED</span>
    </button>
  </div>
</section>
